html{
    font-family: "Segoe UI", Arial, sans-serif;
    background-image: url("styles/aum3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    margin: 0;
}

.homepage-root{
    height: 100%;
    margin: 0;
}
 
.site-wrapper{
    width: 70%;
    height: auto;
    margin: 20px auto 0;
    background-color: gainsboro;
    border: 2px solid black;
    margin-top: 0px;
    margin-bottom: 80px;
}

header{
    border-bottom: 2px solid #000000;
}

.header-flex{
    display: flex;
    height: 141px;
}

header .brand{
    padding: 20px 20px 10px;
    background-color: white;
    border-right: 2px solid black;
    left: 20px;
    top: 15px;
}

header .brand img{
    height: 100px;
}

header h1{
    padding-left: 80px;
    font-size: 40px;
    text-align: left;
}

.nav-block{
    flex: 1;
    width: 100%;
    padding: 0;
    background-image: linear-gradient(to right, rgb(253, 220, 202), rgb(244, 105, 30), rgb(244, 105, 30));
    background-color: black;
}

header nav{
    background-color: black;
}

nav ul.nav-list{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

nav ul.nav-list li a{
    display: block;
    padding: 12px 55px;
    margin: 0;
    color: white;
    text-decoration: none;
    position: relative;
}

nav ul.nav-list li.active a{
    color: #d45515;
}

nav ul.nav-list li a:hover{
    background-color: grey;
    color: black;
}

.footR img:not(:last-child) {
    margin-right: 15px;   /* space between the images */
}

.content{
    display: flex;
    font-size: 16px;
    text-align: justify;
    padding-top: 25px;
    padding-bottom: 80px;
    background-color: lightgray;
}

.left-col,
.right-col{
    flex: 1;
}

.left-col{
    border-right: 2px solid salmon;
    margin-right: 10px;
    padding-right: 10px;
}

.box2,
.box5{
    border-top: 2px solid #968b8b;
    border-bottom: 2px solid #968b8b;
}

.box2{
    padding-left: 15px;
    padding-right: 20px;
    margin-right: 10px;
}

.box5{
    margin-left: 10px;
    padding-right: 10px;
}

.box4{
    padding-left: 10px;
    padding-right: 10px;
}

.intro-box,
.box4{
    border-top: 2px solid #968b8b;
}

.intro-box{
    padding-left: 15px;
    padding-right: 30px;
}

.box3,
.box6{
    border-bottom: 2px solid #968b8b;
    padding-left: 20px;
    padding-right: 15px;
}

.box3{
    padding: 7px 20px 10px 15px;
}

.box6{
    padding-right: 10px;
}

.content p{
    margin-top: 0;
}

.content h2{
    margin: 5px 0 8px 0;
}

.box5 h2{
    margin-top: 0;
}

.box5 p{
    margin-bottom: 3px;
}

.jobs-box{
    border-top: 2px solid ##968b8b;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
}

.jobs-box table,
.jobs-box td{
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding-right: 20px;
    padding-top: 5px;
}

table tr:nth-child(-n+2){
    background-color: ##968b8b;
}

table tr:nth-child(n+3){
    background-color: rgb(176, 171, 171);
}

.desc-box{
    padding-left: 10px;
    text-align: left;
    border-top: 2px solid #968b8b;
    border-bottom: 2px solid #968b8b;
}

.desc-box ul{
    list-style-position: inside;
    padding-left: 2px;
    padding-right: 10px;
}

.contact-box{
    padding-right: 5px;
    padding-top: 0;
    border-top: 2px solid #968b8b;
    border-bottom: 2px solid ##968b8b;
}

.desc-layout{
    display: flex;
    font-size: 16px;
    text-align: justify;
    padding-top: 25px;
    padding-bottom: 10px;
    background-color: gainsboro;
}

.form-wrapper{
    display: flex;
    justify-content: center;
    background-color: gainsboro;
}

.form-wrapper form{
    width: 500px;
    padding-left: 30px;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-left: 2px solid #e79b74;
    border-right: 2px solid #e79b74;
    border-top: 2px solid ##968b8b;
    border-bottom: 2px solid ##968b8b;
}

.form-wrapper form label{
    width: 110px;
    /* vertical-align: middle; */
}

.form-wrapper .gpa-input{
    margin-left: 50px;
    width: 50px;
}

.form-wrapper .gender-box{
    padding-left: 35px;
}

.form-wrapper form input{
    margin: 10px;
}

.checkbox-style input{
    display: none;
}

.checkbox-style span{
    height: 18px;
    width: 18px;
    border: 2px solid #333;
    display: inline-block;
    margin-right: 6px;
    vertical-align: middle;
    position: relative;
}

.checkbox-style input:checked + span::after{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    background: #333;
}

.last-name, .first-name, .student-id    {
    width: 150px;
    padding: 2px;
    border: 1px solid #999;
    border-radius: 2px;
    font-size: 13px;
    box-sizing: border-box;
    vertical-align: middle;
}

.form-wrapper .comment-input{
    width: 150px;
    height: 80px;
    /* padding-bottom: 80px; */
     margin-left: 4px;
}
.comment-box{
    vertical-align: top;
}
.form-wrapper form input[type="submit"]{
    width: 100px;
    height: 35px;
    border: 1px solid #968b8b;
    margin-left: 30px;
}

.form-wrapper form input[type="reset"]{
    width: 100px;
    height: 35px;
    margin-left: 30px;
    border: 1px solid #968b8b;
}


.gpa-wrapper{
    margin: 0;
    background-color: gainsboro;
}

.gpa-panel{
    margin: 20px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    text-align: center;
    background-color: gainsboro;
    border-left: 2px solid #e79b74;
    border-right: 2px solid #e79b74;
    border-top: 2px solid ##968b8b;
    border-bottom: 2px solid ##968b8b;
}

.gpa-panel h1{
    margin: 10px 0 0 0;
}

.gpa-panel p{
    margin: 0;
}

.gpa-row{
    display: flex;
    align-items: center;
    gap: 12px;
    padding-left: 150px;
    margin-bottom: 30px;
}

.gpa-row-head{
    display: flex;
    align-items: center;
    gap: 12px;
    height: 40px;
    margin-top: 0;
}

.gpa-avg-row{
    display: flex;
    gap: 13px;
    padding-left: 150px;
    padding-bottom: 22px;
}

.gpa-panel input[type="text"]{
    width: 70px;
    margin-left: 120px;
}

.gpa-panel .avg-input{
    margin-right: 200px;
    background-color: #968b8b;
}

.gpa-row-head-1{
    padding-left: 310px;
    padding-right: 80px;
    margin: 0;
}

.gpa-panel .action-btn{
    width: 100px;
    height: 35px;
    border: 1px solid #968b8b;
}

.gpa-panel .gpa-buttons{
    display: flex;
    gap: 100px;
    margin-left: 340px;
}



footer{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
    background: rgb(220, 103, 40);
    color: black;
    font-size: 15px;
    padding-bottom: 0;
    padding-left: 20px;
}

.footer-left-block{
    padding-left: 50px;
    padding: 10px;
    line-height: 21px;
}

.footer-center-block{
    margin-bottom: 50px;
    margin-top: 0;
    padding: 0;
}

.footer-right-block{
    margin-top: 0;
    padding-right: 10px;
    padding-top: 10px;
}

.social-twitter{
    height: 33px;
}
